body {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    color: red;
    border-radius: 50%;
    -webkit-transform: translateX(10px);
                -ms-transform: translateX(10px);
            transform: translateX(10px);
}
